:root {
    --main-bg-color: fffff8;
    --client-bg-color: #0f172a;
    --default-text-white: #F8FAFC;
    --input-bg-color: #475569;
    font-size: 14px;
    background-color: var(--main-bg-color);
}

html {
    background-color: var(--main-bg-color);
}

#mudclient {
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 600) {
    #main-window {
        width: 100%;
    }
}

#main-window {
    color: var(--default-text-white);
    background-color: var(--client-bg-color);
    padding: 0 1rem;
    margin: 1rem 1rem;
    max-width: 750px;
    height: 85vh;
    overflow: scroll;
}

#main-window > pre {
    white-space: pre-line;
    line-height: 1.4;
    margin: 0;
}

#bottom-container {
    height: 10vh;
    max-width: 750px;
    flex-flow: column nowrap;
    justify-content: start;
}

#input-bar {
    padding: 0 1rem;
    height: 6vh;
    margin: 0;
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
}

#input-bar > * {
    font-size: 2rem;
    font-family: monospace;
    color: var(--default-text-white);
}

#input-bar > button {
    background-color: var(--input-bg-color);
    flex: 1 1 auto;
    border-style: none;
}

#command-bar {
    background-color: var(--input-bg-color);
    flex: 4 1 auto;
}
