#page-container {
    margin: 5% 10%;
    width: 80%
}

table {
    border-collapse: collapse;
}

th {
    padding: 1.1rem 0.6rem;
    font-variant: small-caps;
    font-size: 1.4rem;
    text-align: left;
}

td {
    padding: 0.6rem;
    padding-right: 1.5rem;
    font-family: var(--sans);
}

tr + tr {
    border-top: 1px solid #cccccc;
}

tr td:first-child {
    font-family: var(--sans);
}

.roominfo:hover {
    background-color: #FFF1F2;
}

#search-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
}

#area-results {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex: 1 1 0;
    padding-bottom: 5%;
}

#area-results > div {
    margin: 0 -3%;
}

.search-bar {
    flex: 2 2 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 4rem;
}

input::placeholder {
    word-spacing: 1rem;
    margin-left: 2rem;
}

.search-bar input {
    height: 2.6rem;
    font-size: 2rem;
    padding: 0.4rem 0.6rem;
    margin: 0.5rem;
    flex: 0 2 auto;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
    border: 0;
    outline: 0;
}

.search-bar label {
    height: 2rem;
    font-size: 2rem;
    margin: 0.6rem;
    padding: 0.3rem 0.6rem;
    flex: 0 2 auto;
}

.location-counts {
    flex: 1 1 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: start;
    align-content: space-around;
    min-height: 150px;
    padding: 2% 10%;
}

.location-counts > div {
    flex: 2 2 0;
    margin: 0.6rem 4rem 0.6rem 0rem;
    padding: 0.2rem 0.6rem;
    max-width: 70px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
    border: 0;
    border-radius: 4px;
    outline: 0;
    align-items: stretch;
}

.location-counts p {
    margin: 0.1rem;
    text-align: center;
    font-size: 0.8rem;
}

#load-indicator {
    flex: 0 1 auto;
}

#map-container {
    flex: 0 1 auto;
    margin-right: 0;
}

#map-container > figure {
    margin: 0 0 0 2rem;
    padding-top: 3rem;
}

figure > img {
    opacity: 0.8;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .3);
    border: 0;
    border-radius: 4px;
    outline: 0;
}

figcaption {
    position: relative;
    text-align: end;
    margin-bottom: 1rem;
    margin-top: -4rem;
}

figcaption > p {
    margin: 0.4rem;
}

#map-name {
    font-variant-caps: small-caps;
    font-size: 1.4rem;
}

#room-short {
    font-size: 0.8rem;
}

#map-container > div {
    width: 440px;
    height: 440px;
}

#search-results {
    width: 90%;
}

:root {
    letter-spacing: 0.05em;
    --sans:  -apple-system,
             BlinkMacSystemFont,
             avenir next,
             avenir,
             segoe ui,
             helvetica neue,
             helvetica, Cantarell,
             Ubuntu,
             roboto,
             noto,
             arial,
             sans-serif;

    --mono: Menlo,
            Consolas,
            Monaco,
            Liberation Mono,
            Lucida Console,
            monospace;
}

body {
    font-family: Iowan Old Style,
                 Apple Garamond,
                 Baskerville,
                 Times New Roman,
                 Droid Serif,
                 Times,
                 Source Serif Pro,
                 serif,
                 Apple Color Emoji,
                 Segoe UI Emoji,
                 Segoe UI Symbol;
}

html {
    background-color: #F9FAFB;
}

* {
    color: #292524;
}
