body > div {
    margin: 5% 10%;
}

table {
    border-collapse: collapse;
}

th {
    padding: 1.1rem 0.6rem;
    font-variant: small-caps;
    font-size: 1.4rem;
    text-align: left;
}

td {
    padding: 0.6rem;
    padding-right: 1.5rem;
    font-family: var(--sans);
}

tr + tr {
    border-top: 1px solid #cccccc;
}

tr td:first-child {
    font-family: var(--sans);
}

.search-bar {
    max-width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 0;
}

.search-bar input {
    height: 2rem;
    font-size: 2rem;
    max-width: 90%;
}

.search-bar p {
    font-size: 2rem;
    margin-right: 2rem;
}

#search-results {
    margin 0 0;
}

#search-results > div {
    margin: 0 0;
}

.location-counts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    width: 60%;
    margin: 0.4rem 2rem;
}

.location-counts > div {
    flex: 1 1 0;
    width: 60px;
    margin: 0.8rem 0.8rem;
    padding: 0.2rem;
    border: 1px solid black;
}

.location-counts p {

    margin: 0.1rem;
    text-align: center;
    font-size: 0.8rem;
}

:root {
    letter-spacing: 0.05em;
    --sans:  -apple-system,
             BlinkMacSystemFont,
             avenir next,
             avenir,
             segoe ui,
             helvetica neue,
             helvetica, Cantarell,
             Ubuntu,
             roboto,
             noto,
             arial,
             sans-serif;

    --mono: Menlo,
            Consolas,
            Monaco,
            Liberation Mono,
            Lucida Console,
            monospace;
}

body {
    font-family: Iowan Old Style,
                 Apple Garamond,
                 Baskerville,
                 Times New Roman,
                 Droid Serif,
                 Times,
                 Source Serif Pro,
                 serif,
                 Apple Color Emoji,
                 Segoe UI Emoji,
                 Segoe UI Symbol;
}
